<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shejobs | Approached for a job</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <style>
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }

    .email-template-container {
        margin: 0 auto;
        width: 600px;
        text-align: center;
        border: 1px solid #fbfbfb;
        display: table;
    }

    .main-logo {
        width: 100%;
        float: left;
        text-align: center;
        margin: 25px 0;
        margin-top: 50px;
    }
    .main-logo img {
        width: 100px;
    }
    .email-body-content{
    	width: 100%;
    	float: left;
    	padding: 60px;
    	padding-top: 0;
    	box-sizing: border-box;
    }
    .email-page-title{
    	width: 100%;
    	float: left;
    	font-size: 20px;
    	color: #f71cb4;
    	font-weight: 700;
    	margin-bottom: 15px;
    }
    .email-page-text{
    	width: 100%;
    	float: left;
    	font-size: 13px;
    	color: #000;
    	line-height: 20px
    }
    .email-btn-group{
    	width: 100%;
    	float: left;
    	margin-top: 30px;
    }
    .btn-yes{
    	background: #34eb54;
    	font-size: 15px;
    	color: #fff;
    	font-weight: 500;
    	border: 1px solid #34eb54;
    	border-radius: 6px;
    	padding: 8px 30px;
    	outline: none;
    }
    .btn-no{
    	background: #f52e2e;
    	font-size: 15px;
    	color: #fff;
    	font-weight: 500;
    	border: 1px solid #f52e2e;
    	border-radius: 6px;
    	padding: 8px 30px;
    	outline: none;
    }
    .footer-content{
    	width: 100%;
    	float: left;
    	background: #fbfbfb;
    	font-size: 13px;
    	color: #000;
    	padding: 30px 15px;
    	margin-top: 30px;
    	box-sizing: border-box;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .fw-bold {
        font-weight: bold;
    }
    .fs-italic {
      font-style: italic;
    }
    .yes-btn-color-text{
      color: #34eb54;
    }
    .no-btn-color-text{
      color: #f52e2e;
    }
    .rm-anchor-line{
        text-decoration: none;
    }
    </style>
</head>

<body>
    <div class="body-container" style="width: 100%;float: left;">
        <div class="email-template-container">
            <div class="main-logo">
                <img src= "<%= UtilsService.S3Images('Common', 'sj-logo.png', 'small') %>" alt="Logo">
            </div>
            <div class="email-body-content">
              <div class="email-page-title">Welcome to Shejobs</div>
              <span>Hi <%= _.join(_.values(_.pick(user, ['first_name', 'last_name'])), ' ') %>,</span>
            	<div class="email-page-text">
                <span class="fs-italic fw-bold"><%= _.join(_.values(_.pick(employer, ['first_name', 'last_name'])), ' ') %></span> (Employer) 
                approached you for a job <span class="fw-bold"><%=_.get(job, 'title')%></span>. If you willing to apply for this job please click on the <span class="yes-btn-color-text">Interested</span> button below. Otherwise go with the <span class="no-btn-color-text">Not Interested</span> button.
            	</div>
            	<div class="email-page-text fw-bold" style="margin-top:30px">
            		Do you wish to apply for this job. Please confirm below.
            	</div>
            	<div class="email-btn-group">
                <a class="btn-yes cursor-pointer rm-anchor-line" href="<%=`${baseUrl}/users/job-approach-invitation?accept_invitation=${_.get(sails.config.custom.user_job_interest, 'interested')}&user_approach_id=${_.get(application,'user_approach_id')}`%>">Interested</a> 
                <a class="btn-no cursor-pointer rm-anchor-line" href="<%=`${baseUrl}/users/job-approach-invitation?accept_invitation=${_.get(sails.config.custom.user_job_interest, 'not_interested')}&user_approach_id=${_.get(application,'user_approach_id')}`%>">Not Interested</a>
            	</div>
            </div>
            <div class="footer-content">
            		2019 She Jobs All Rights Reserved.
            	</div>
        </div>
    </div>
</body>

</html>